MIX_ENV=dev
PHX_HOST=localhost
PORT=4000
SECRET_KEY_BASE=6KCL3mQG1j2dQME5wy6R5A0j2xzx9azR6fCP5MwlENiB3IKd1k7A5QfP1QW5m3RF
DATABASE_URL=ecto://postgres:postgres@postgres/k_comms_dev
POOL_SIZE=10
K_COMMS_ROLE=all
MINIO_ROOT_USER=kcomms
MINIO_ROOT_PASSWORD=change-this-local-password
S3_ENDPOINT=http://minio:9000
S3_BUCKET=k-comms-dev
S3_ACCESS_KEY_ID=kcomms
S3_SECRET_ACCESS_KEY=change-this-local-password
